{{title 'OSF Repositories' separator=' | '}}

{{osf-navbar signupUrl=signupUrl loginAction=(action 'login')}}
<br>
<br>
<br>
<div class="container">
    {{outlet}}
</div>

{{osf-footer}}
{{osf-mode-footer}}
