<div class="row">
    <div class="col-xs-12">
        <p>{{#link-to "discover"}} Discover more repositories{{/link-to}}</p>
        {{#if model}}
            <h1> {{model.title}} </h1>
            <p> <label> Summary: </label> {{model.summary}} </p>
            <p> <label> Primary topic: </label> {{model.topic}} </p>

            <p> <label> Projects in this repository </label> </p>
            {{#each model.projects as |project|}}
              <ul>
                  <li>{{project.title}} - {{project.description}}</li>
                  <li> Tags:
                    {{#each project.tags as |tag|}}
                      {{tag}},
                    {{/each}}
                  </li>
              </ul>
            {{/each}}

            <a href="#"><i class="fa fa-plus"> </i> Submit your project here (todo)! </a>
            {{else}}
                <h1> Not found! </h1>
            {{/if}}
    </div>
</div>
